<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
      <div class="chat-main">
       <div class="chat-top"></div>
       <div class="chat-middle"></div>
       <div class="chat-bottom"></div>
      </div>
  </body>
</html>
