
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
      <div class="side-container">
        <div class="user-head">
          
        </div>

        <div class="room-space">
          
        </div>
      </div>
  </body>
</html>

