.wrapper{
  display: flex;
  }

.side-container {
  width: 300px;
  height: 100vh;
}

.user-head{
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
}

.room-space{
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  
}

.chat-main {
  width: calc(100vw - 300px);
  height: 100vh;
}

.chat-top{
  background-color: #FFFFFF;
  height: 100px;
  padding: 0 40px;
}

.chat-middle{
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding-top: 46px 40px 0;
}

.chat-bottom{
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}
